*.log
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/updraft/*.gz
wp-content/updraft/*.zip
wp-content/updraft/log.*
wp-content/ai1wm-backups/*.wpress

/sitemap.xml
/sitemap.xml.gz

